body {
  margin: 0;
}
.container {
  width: 1280px;
  margin: 0 auto;
  border: 1px solid black;
}
.main-header {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
  color: #fff;
  font-family: Arial;
}
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.main-header-wrp {
  width: 458px;
  float: left;
}
.main-header-title {
  margin: 0 0 10px 0;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
.main-header-list {
  padding: 0 0 0 20px;
  margin: 0 0 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}
.main-header-list-item {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url('../img/icons/check_icon.png');

  -webkit-background-size: cover;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: -18px;
}
.main-header-img {
  display: block;
  width: 469px;
  min-height: 214px;
  float: right;
  background-color: #fff;
}

.content {

}
.about-product {
  padding: 50px;
}
.about-product:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.about-product-title {
  width: 254px;
  height: 28px;
  color: #445161;
  font-size: 34px;
  font-weight: bold;
  line-height: 36px;;
}
.about-product-wrp {
  float: left;
  width: 653px;
}
.about-product video {
  width: 430px;
  height: 245px;
  background-color: #445161;
  float: right;
}
.dignity {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.dignity-title {
  width: 100%;
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: 500;
  line-height: 36px;
  font-size: 35px;
  color: #445161;
}
.dignity-item-wrp {
  width: 50%;
}
.dignity-item {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0 0 0 35px;
  box-sizing: border-box;
  position: relative;
}
.dignity-item-title {
  outline: none;
  display: block;
  padding: 0 23px 0 9px;
}
.dignity-item p {
  margin: 0 10px 0 10px;
}
.dignity-item-title::-webkit-details-marker {
  display: none;
}

.dignity-item-title:before {
  content: "+";
  display: block;
  width: 32px;
  height: 32px;
  background-color: #445161;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 3px;
  left: 0;
}
details[open] summary:before {
  content: "-";
}
.screenshots{
  width: 100%;
  min-height: 487px;
  padding: 50px;
  box-sizing: border-box;
}
.screenshots:after {
  content:"";
  display: block;
  clear:both;
}
.screenshots-title {
  width: 100%;
  margin: 0 0 35px 0;
  color: #445161;
  text-align: center;
  font-family: "Arial";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.screenshots-item {
  width: 574px;
  margin: 0 0 30px 0;
  float: left;
  box-sizing: border-box;
}

.screenshots-item:nth-child(3),
.screenshots-item:nth-child(5) {
  float: right;
}
figure:nth-child(4),
figure:nth-child(5) {
margin-bottom: 0;
}

.screenshot-img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 15px 0 0;
  float: left;
  background-color: #445161;
}

.screenshots-item-desc {
  margin: 0;
}
.screenshots-item-title {
  margin: 0 0 15px 0;
  color: #445161;
  text-align: left;
  font-family: arial;
  font-size: 24px;
  font-weight: 400;
}
.screenshots-item-txt {
  margin: 0;
  color: #333333;
  text-align: justify;
  font-family: arial;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}
.reviews {
  width: 100%;
  min-height: 487px;
  padding: 50px;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
}
.reviews-title {
  display: block;
  width: 100%;
  text-align: center;
  color: #445161;
  font-size: 35px;
  font-weight: 400;
  line-height: 36px;
}
.reviews-item {
  width: 529px;
  box-sizing: border-box;
}

.reviews-item-column2 {
  margin-left: 78px;
}
.txt {
  width: 469px;
  min-height: 121px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #ccc;
  border-radius: 10px;
  text-align: justify;
  position: relative;
  margin: 0 33px 0 104px;
}

.txt::before {
  content: "";
  display: block;
  border: 1px solid black;
  position: absolute;
  top: 30px;
  left: -29px;
  border: 15px solid transparent;
  border-right: 15px solid #ccc;

}
.review-photo {
  width: 75px;
  height: 75px;
  background-color: #445161;
  border-radius: 50%;
  position: relative;
  top: 76px;
}
.reviews-author {
  display: block;
  width: 100%;
  padding: 16px 0 0 0;
  color: #989898;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  align-self: flex-end;

}
.buy {
  width: 100%;
  padding: 50px;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 50px 0  ;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

.buy-title{
  display: block;
  width: 100%;
  margin: 0 0 29px 0;
  text-align: center;
  color: #445161;
  font-size: 35px;
  font-weight: 400;
  line-height: 36px;
}
.buy-item {
  border: 1px solid black;
  background-color: #445162;
  width: 300px;
  border-radius: 5px;
}
.buy-item span {
 margin: 0;
 display: block;
 width: 100%;
 text-align: center;
}
.buy div:nth-child(3) {
  margin: 0 45px 0 45px;
}
.buy-item-subtitle {
  padding: 17px 0 19px 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
} 
.buy-price {
  background-color: #fff;
  color: #445162;
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  padding: 15px 0 15px 0;
}
.buy-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.btn {
  display: block;
  width: 260px;
  padding: 15px 10px;
  margin: 20px;
  box-sizing: border-box;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  word-break: break-all;
}
.btn:hover {
  background-color: #445162;
  color: white;
}
.btn:hover span {
  color: white;
}
.btn span {
  color: #445161;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
}

.btn:active {
  box-shadow: inset 2px 2px 5px black;
}
.btn:active span {
  font-size: 15px;
}
.footer {
  background-color: #445162;
  padding: 52px 0 49px 0;
}

.footer-title {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}
.footer-form-wrap {

}
.contacts-form {
  width: 500px;
}
.contacts-form-item {
  width: 100%;
}
.form-btn {
  width: 140px;
  padding: 14px 0 14px 0;
}
.form-btn span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
.social-icons-items {
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  background-color: #ffffff;
  font-size: 23px;
}
.fa {
  color: #445162;
}
.copyright {
  display: block;
  width: 100%;
}
.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1280px;
  padding: 50px;
  box-sizing: border-box;
  background-color: #445161;
}

.main-footer_title {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  font-family: Arial;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.main-footer_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: 0 46px 0 0;
}

.main-footer_form input[type="text"],
.main-footer_form input[type="email"],
.main-footer_form textarea {
  width: 100%;
  height: 40px;
  margin: 0 0 20px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
  text-transform: capitalize;
}

.main-footer_form input[type="text"]:hover,
.main-footer_form input[type="email"]:hover,
.main-footer_form textarea:hover {
  background-color: gray;
  color: white;
  border-color: white;
}

.main-footer_form input[type="text"]:hover::placeholder,
.main-footer_form input[type="email"]:hover::placeholder,
.main-footer_form textarea:hover::placeholder {
  color: white;
}

.main-footer_form textarea {
  width: 500px;
  height: 170px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color:  #ffffff;
  outline: none;
}

input[placeholder],
textarea[placeholder] {
  text-overflow:ellipsis;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.main-footer_form input[type="submit"] {
  border-radius: 5px;
  background-color:  #ffffff;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  font-family: Arial;
  color:  #445162;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  outline: none;
}

.main-footer_form input[type="submit"]:hover {
  background-color: gray;
  color: white;
}

.main-footer_form input[type="submit"]:active {
  background-color:  #ffffff;
  color:  #445162;
}

.main-footer_contacts {
  width: 240px;
  height: 290px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.footer-address {
  font-style: inherit;
}
/*.footer-contacts-list{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  list-style-position: outside;*/
/*  list-style-type: none;*/
/*}*/
.footer-contacts-list-item {
  padding: 0 0 20px 30px;
  display: block;
  position: relative;
}
.footer-contacts-list-item:before {
  content: "";
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.icon-skype:before {
  content: '';
  background-image: url("../img/icons/skype_icon.png");

}
.icon-icq:before {
  content: '';
  background-image: url("../img/icons/icq_icon.png");
}
.icon-email:before {
  content: '';
  background-image: url("../img/icons/email_icon.png");
}
.icon-phone:before {
  content: '';
  background-image: url("../img/icons/phone_icon.png");
}

.social-icons {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}
.social-icons a {
  text-decoration: none;
}
.social-icons a:hover  li{
  text-decoration: none;
  color: white;
  background-color: #445162;
  box-shadow: inset 2px 2px 5px black;
}
.social-icons a:hover span {
  color: white;
}
.social-icons-item {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  font-size: 25px;
}

#twitter-icon {
  position: relative;
  top: 9px;
  left: 10px;
}
#facebook-icon {
  position: relative;
  top: 9px;
  left: 13px;
}
#linkedin-icon {
  position: relative;
  top: 7px;
  left: 11px;
}
#google-icon {
  position: relative;
  top: 9px;
  left: 10px;
}
#youtube-icon {
  position: relative;
  top: 8px;
  left: 11px;
}